<div class="container">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="content lg-form">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle
          >Lorem Ipsum is simply dummy text of the printing</mat-card-subtitle
        >
        <mat-card-title>{{ formTitle }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-divider class="mb-3"></mat-divider>

        <div class="row pb-3">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput placeholder="Name" />
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="submitted && f['name'].errors">
                <span *ngIf="f['name'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input formControlName="age" matInput placeholder="Age" />
              <mat-error *ngIf="submitted && f['age'].errors">
                <span *ngIf="f['age'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-radio-group formControlName="gender">
              <mat-label>Gender</mat-label>
              <mat-radio-button checked value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-error *ngIf="submitted && f['gender'].errors">
                <span *ngIf="f['gender'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-radio-group>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Department</mat-label>
              <mat-select formControlName="department">
                <mat-option *ngFor="let item of departments" [value]="item"
                  >{{ item }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f['department'].errors">
                <span *ngIf="f['department'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Doctor Name</mat-label>
              <input
                formControlName="doctorName"
                matInput
                placeholder="doctorName"
              />
              <mat-icon matSuffix
                ><span class="material-symbols-outlined">
                  clinical_notes
                </span></mat-icon
              >
              <mat-error *ngIf="submitted && f['doctorName'].errors">
                <span *ngIf="f['doctorName'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input formControlName="date" matInput [matDatepicker]="date" />
              <mat-datepicker-toggle
                matSuffix
                [for]="date"
              ></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
              <mat-error *ngIf="submitted && f['date'].errors">
                <span *ngIf="f['date'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Fees</mat-label>
              <input formControlName="fees" matInput placeholder="fees" />
              <mat-error *ngIf="submitted && f['fees'].errors">
                <span *ngIf="f['fees'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-divider></mat-divider>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" class="mx-2">Save</button>
        <button mat-raised-button [routerLink]="['/appointments']">Back</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
