<div class="card mb-4">
  <h5>{{ formTitle }}</h5>
  <p>Lorem Ipsum is simply dummy text of the printing</p>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="content lg-form">
    <div class="card-content">
      <hr class="mb-3" />

      <div class="grid pb-3 p-fluid">
        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="name">Name</label>
            <input
              id="name"
              formControlName="name"
              pInputText
              placeholder="Enter your name"
            />
            <p-message
              *ngIf="submitted && f['name'].errors"
              severity="error"
              text="This field is mandatory"
            />
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="age">Age</label>
            <input
              id="age"
              formControlName="age"
              pInputText
              placeholder="Enter your age"
            />
            <p-message
              *ngIf="submitted && f['age'].errors"
              severity="error"
              text="This field is mandatory"
            />
          </div>
        </div>

        <div class="col-12">
          <div class="p-field">
            <label>Gender</label>
            <div class="flex align-items-center gap-1">
              <p-radioButton
                formControlName="gender"
                value="male"
                inputId="male"
                name="gender"
                label="Male"
              />
              <p-radioButton
                formControlName="gender"
                value="female"
                inputId="female"
                name="gender"
                label="Female"
              />
            </div>
            <p-message
              *ngIf="submitted && f['gender'].errors"
              severity="error"
              text="This field is mandatory"
            />
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="department">Department</label>
            <p-dropdown
              formControlName="department"
              [options]="departments"
              placeholder="Select Department"
            />
            <p-message
              *ngIf="submitted && f['department'].errors"
              severity="error"
              text="This field is mandatory"
            />
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="doctorName">Doctor Name</label>
            <input
              id="doctorName"
              formControlName="doctorName"
              pInputText
              placeholder="Enter doctor's name"
            />
            <p-message
              *ngIf="submitted && f['doctorName'].errors"
              severity="error"
              text="This field is mandatory"
            />
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="date">Date</label>
            <p-calendar
              formControlName="date"
              [showIcon]="true"
              dateFormat="mm/dd/yy"
            ></p-calendar>
            <p-message
              *ngIf="submitted && f['date'].errors"
              severity="error"
              text="This field is mandatory"
            />
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="p-field">
            <label for="fees">Fees</label>
            <input
              id="fees"
              formControlName="fees"
              pInputText
              placeholder="Enter fees"
            />
            <p-message
              *ngIf="submitted && f['fees'].errors"
              severity="error"
              text="This field is mandatory"
            />
          </div>
        </div>
      </div>

      <hr />
    </div>

    <footer class="flex justify-content-end">
      <button
        pButton
        [routerLink]="['/appointments']"
        label="Back"
        class="p-button-outlined p-button-secondary"
      ></button>
      <button pButton type="submit" label="Save" class="mx-2"></button>
    </footer>
  </form>
</div>
<p-toast />
