<div class="container">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="content lg-form">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle
          >Lorem Ipsum is simply dummy text of the printing</mat-card-subtitle
        >
        <mat-card-title>{{ formTitle }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-divider class="mb-3"></mat-divider>

        <div class="row pb-3">
          <div class="col-md-12">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput placeholder="Name" />
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="submitted && f['name'].errors">
                <span *ngIf="f['name'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Phone</mat-label>
              <input
                formControlName="phoneNumber"
                matInput
                placeholder="+20123456780"
              />
              <mat-error *ngIf="submitted && f['phoneNumber'].errors">
                <span *ngIf="f['phoneNumber'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input formControlName="age" matInput placeholder="Age" />
              <mat-error *ngIf="submitted && f['age'].errors">
                <span *ngIf="f['age'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-radio-group formControlName="gender">
              <mat-label>Gender</mat-label>
              <mat-radio-button checked value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
              <mat-error *ngIf="submitted && f['gender'].errors">
                <span *ngIf="f['gender'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-radio-group>
          </div>

          <div class="col-md-12">
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <mat-icon matSuffix>home</mat-icon>
              <input formControlName="address" matInput placeholder="address" />
              <mat-error *ngIf="submitted && f['address'].errors">
                <span *ngIf="f['address'].errors['required']"
                  >This field is mandatory</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <label>Status: </label>
            <mat-slide-toggle [color]="'primary'" formControlName="active">
              {{ f["active"].value ? "Active" : "Disactive" }}</mat-slide-toggle
            >
          </div>
        </div>

        <mat-divider></mat-divider>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" class="mx-2">Save</button>
        <button mat-raised-button [routerLink]="['/patients']">Back</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
