<div class="card">
  <h5>Patients</h5>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <p-table
    #dt
    [value]="patients"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="[
      'name',
      'age',
      'gender',
      'phoneNumber',
      'address',
      'active'
    ]"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
      >
        <button
          pButton
          label="Add New"
          icon="pi pi-plus"
          class="p-button-raised"
          routerLink="/patients/new"
        ></button>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt, $event)"
            placeholder="Search..."
            class="w-full sm:w-auto"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">No.<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">
          Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="gender">
          Gender<p-sortIcon field="gender"></p-sortIcon>
        </th>
        <th pSortableColumn="age">Age<p-sortIcon field="age"></p-sortIcon></th>
        <th pSortableColumn="phoneNumber">
          Phone Number<p-sortIcon field="phoneNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="address">
          Address<p-sortIcon field="address"></p-sortIcon>
        </th>
        <th pSortableColumn="active">
          Status<p-sortIcon field="active"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-patient let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.phoneNumber }}</td>
        <td>{{ patient.address }}</td>
        <td>{{ patient.active ? "Active" : "Not Active" }}</td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary p-button-text"
            routerLink="/patients/{{ patient.id }}"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteItem($event, patient.id)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No records found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
