<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <h5>Staff List</h5>

  <p-table
    #dt
    [value]="dataSource"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="[
      'name',
      'job',
      'email',
      'phoneNumber',
      'address',
      'active'
    ]"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
      >
        <button
          pButton
          pRipple
          label="Add New"
          icon="pi pi-plus"
          routerLink="/staff/new"
          class="p-button-raised"
        ></button>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt, $event)"
            placeholder="Search..."
            class="w-full sm:w-auto"
          />
        </span>
      </div>
    </ng-template>

    <!-- Header Row with Sorting -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          No.
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="job">
          Job
          <p-sortIcon field="job"></p-sortIcon>
        </th>
        <th pSortableColumn="email">
          Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="phoneNumber">
          Phone Number
          <p-sortIcon field="phoneNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="address">
          Address
          <p-sortIcon field="address"></p-sortIcon>
        </th>
        <th pSortableColumn="active">
          Status
          <p-sortIcon field="active"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <!-- Body Rows -->
    <ng-template pTemplate="body" let-element let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ element.name }}</td>
        <td>{{ element.job }}</td>
        <td>{{ element.email }}</td>
        <td>{{ element.phoneNumber }}</td>
        <td>{{ element.address }}</td>
        <td>{{ element.active ? "Active" : "Not Active" }}</td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary p-button-text"
            routerLink="/staff/{{ element.id }}"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteItem($event, element.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
