.stats-card {
  padding: 16px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  &:hover {
    opacity: 1;
  }
  .mat-mdc-card-header {
    padding: 0;
  }
  mat-icon {
    height: 36px;
    width: 36px;
    span {
      font-size: 36px;
    }
  }
}
