<div class="card">
  <h5>Room Allotment</h5>

  <p-table
    #dt
    [value]="dataSource"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="[
      'patientName',
      'doctorName',
      'roomNumber',
      'roomType',
      'status'
    ]"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
      >
        <button
          pButton
          pRipple
          label="Add New"
          icon="pi pi-plus"
          routerLink="/room-allotment/new"
          class="p-button-raised"
        ></button>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt, $event)"
            placeholder="Search..."
            class="w-full sm:w-auto"
          />
        </span>
      </div>
    </ng-template>

    <!-- Index Column -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">No.<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="parientName">
          Patient<p-sortIcon field="parientName"></p-sortIcon>
        </th>
        <th pSortableColumn="doctorName">
          Doctor<p-sortIcon field="doctorName"></p-sortIcon>
        </th>
        <th pSortableColumn="roomNumber">
          Room Number<p-sortIcon field="roomNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="roomType">
          Room Type<p-sortIcon field="roomType"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status<p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="allotmentDate">
          Allotment Date<p-sortIcon field="allotmentDate"></p-sortIcon>
        </th>
        <th pSortableColumn="dischargeDate">
          Discharge Date<p-sortIcon field="dischargeDate"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-element let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ element.parientName }}</td>
        <td>{{ element.doctorName }}</td>
        <td>{{ element.roomNumber }}</td>
        <td>{{ element.roomType }}</td>
        <td>{{ element.status }}</td>
        <td>{{ element.allotmentDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ element.dischargeDate | date : "dd/MM/yyyy" }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            routerLink="/room-allotment/{{ element.id }}"
            class="p-button-text p-button-success p-button-rounded"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            (click)="deleteItem($event, element.id)"
            class="p-button-text p-button-danger p-button-rounded"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
