<div class="card">
  <h5>Appointments</h5>
  <p-table
    #dt
    [value]="dataSource"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [sortMode]="'multiple'"
    [responsiveLayout]="'scroll'"
    [globalFilterFields]="[
      'name',
      'age',
      'gender',
      'department',
      'date',
      'doctorName',
      'fees'
    ]"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
      >
        <button
          pButton
          type="button"
          icon="pi pi-plus"
          label="Add new"
          routerLink="/appointments/new"
        ></button>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt, $event)"
            placeholder="Search..."
            class="w-full sm:w-auto"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">No. <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="age">Age <p-sortIcon field="age"></p-sortIcon></th>
        <th pSortableColumn="gender">
          Gender <p-sortIcon field="gender"></p-sortIcon>
        </th>
        <th pSortableColumn="department">
          Department <p-sortIcon field="department"></p-sortIcon>
        </th>
        <th pSortableColumn="date">
          Date <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th pSortableColumn="doctorName">
          Doctor Name <p-sortIcon field="doctorName"></p-sortIcon>
        </th>
        <th pSortableColumn="fees">
          Fees <p-sortIcon field="fees"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ element.name }}</td>
        <td>{{ element.age }}</td>
        <td>{{ element.gender }}</td>
        <td>{{ element.department }}</td>
        <td>{{ element.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ element.doctorName }}</td>
        <td>{{ element.fees | number }} $</td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            [routerLink]="['/appointments', element.id]"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteItem($event, element.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog />
<p-toast />
